
/* Général */ 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
}

h1, h2, h3, h4 {
    color: #444;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 55px;
}

p {
    line-height: 20px;
    color: red;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
}

.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clear
{
    clear: both;  
}

.orange {
    color: #ff7a00;
}


#presentation h1
{   
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    margin-bottom: 20px;
}   

.button-1 {

    display: block;
    width: 150px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 25px auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
}

.button-1:hover
{
    background: #02b8dd;
}

#activities {
    width: 1000px;
    height: auto;
    align-items: center;
    margin: 0 auto; /* Cette ligne est ajoutée pour centrer la section */
    position: relative;
}

#activities ul {
    margin: 0px;
    padding: 0; /* Pour réinitialiser les marges et les rembourrages du ul */
    display: flex; /* Pour aligner horizontalement les éléments li */
    flex-wrap: wrap; /* Pour gérer le passage à la ligne des éléments li */
    justify-content: center; /* Pour centrer horizontalement les éléments li */
}

#activities ul li
{
    width: 300px;
    text-align: center;
    margin: 10px; /* Ajout d'une marge autour de chaque élément li */
}

#activities h3
{
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 20px 0; /* Ajustement de la marge supérieure et inférieure */
    margin: 0; /* Réinitialiser les marges */
}

#activities p
{
    margin-bottom: 20px;
}

.button-2
{
    color: #fff;
    background-color: #ff7a00;
    padding: 6px 20px;
    border-radius: 3px;
}

.button-2:hover {
    color: #fff;
    background: #02b8dd;
}
